body {
    font-family: sans-serif; 
    padding: 20px; 
    text-align: center; 
}
img { 
    max-width: 100%; 
    height: auto; 
    margin-top: 20px; 
}

input[type="file"] { 
    margin-top: 10px; 
}

input[type="submit"] { 
    padding: 10px 20px; 
    margin-top: 10px; 
}

table {
    margin: 0 auto;
}

th,td {
    padding: 5px 12px;
}