<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>画像処理アプリ</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
  <h1>大腸菌数カウントアプリ</h1>
  <form action="/" method="post" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" multiple required>
    <br>
    <input type="submit" value="アップロードしてカウント">
  </form>

<!-- resultには各画像の名前と青い点の数が入っている -->
  {% if result %}
    <h2>画像の青い点の数:</h2>
    <table>
      <tr>
        <th>ファイル名</th>
        <th>大腸菌数</th>
      </tr>
      {% for key,value in result.items() %}
      <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
      </tr>
      {% endfor %}
    </table>
  {% endif %}
</body>
</html>
